body {
    background-color: darkslategrey;
    margin: 25px;
}

.jumbotron {
    border-radius: 25px;
    margin: 25px;
}

.form-group {
    border-radius: 25px;
    margin: 25px;
}

.btn-primary {
   margin: 50px;
   background-color: darkblue;
   color: silver;
}

.container {
    display: flex;

}

.card-body {
    padding: 15px;
    border-color: palegoldenrod;
}

img {
    display: flex;
    justify-content: center;
    width: 95%;
}