body {
    background-color: darkslategrey;
    margin-left: 25px;
    margin-right: 25px;
}

.jumbotron {
    border-radius: 25px;
    margin: 25px;
}

.form-group {
    border-radius: 25px;
    margin: 25px;
}

.btn-primary {
   margin: 50px;
   background-color: darkblue;
   color: silver;
}


.container {
    justify-content: center;
    flex-flow: row;
  }